html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

button {
  background-color: rgb(0, 202, 253); /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 25%;
}
button:hover {
  background-color: #21AE10; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 25%;
}
